:root{
--fontColor: white;
--bgColor: black;
}
*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
main{
    width: 100%;
    height: 100%;
}
.main-section-content{
    color: var(--fontColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;   
    width: 100%; 
    height: 100vh;
    background-color: var(--bgColor);
}
.w50{
    width: 50%;
}
.main-section-content h1{
    padding: 20px;
    font-size: 3rem;
    font-weight: bold;
    line-height: 100px;
    text-align: center;
    margin: auto;
}
.w50 img{
    max-width: 300px;
    margin: auto;
    display: flex;
}
.main-section-content p{
    max-width: 90%;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: justify;
    margin: 20px auto;
}
.main-section-footer{
    padding: 10px;
    display: flex;
    background-color: var(--bgColor);
}
.main-section-footer img{
    max-height: 35px;
}
.main-section-footer-hyperlinks{
    flex: 1;
    display: flex;
    gap: 50px;
    justify-content: center;
}
.main-section-footer-hyperlinks a{
    transition: 1s;
    color: var(--fontColor);
    text-decoration: none;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 35px;
}
.main-section-footer-hyperlinks a:hover{
    text-decoration: underline;
    text-decoration-color: var(--fontColor);
    text-decoration-thickness: 2px;
    text-underline-offset: 7px;
}
.main-section-footer-btn{
    color: var(--bgColor);
    background-color: var(--fontColor);
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    width: 70px;
    border-radius: 7px;
}
.main-section-footer-btn:hover{
    color: var(--fontColor);
    background-color: var(--bgColor);
    border: 1px solid var(--fontColor);
}
.invite-section{
    margin-top: 100px;
    padding: 0px 20px 20px 50px;
    display: flex;
    width: 100%;
    justify-content: center;
}
.w30{
    width: 30%;
}
.w30 img{
    max-width: 100%;
}
.invite-section-content{
    display: flex;
    flex-direction: column;
    padding: 0px 50px;
    margin: 50px 0px 0px 50px;
}
.invite-section-content h2{
    font-size: 3rem;
    font-weight: bold;
    line-height: 50px;
    text-align: left;
}
.invite-section-content h4{
    font-size: 1.7rem;
    line-height: 30px;
    margin-top: 5px;
}
.invite-section-content p{
    font-size: 1.5rem;
    line-height: 25px;
    text-align: left;
    margin-top: 40px;
}
.w70{
    width: 70%;
}
.invite-section-content img{
    max-width: 200px;
    margin-top: 100px;
}
.invite-section-content .invite{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 100px;
}
.invite-section-content .invite a{
    transition: 1s;
    background-color: var(--bgColor);
    color: var(--fontColor);
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
    margin: 150px 0px 0px 80px;
    font-size: 2rem;
    font-weight: bold;
}
.invite-section-content .invite a:hover{
    background-color: var(--fontColor);
    color: var(--bgColor);
    border: 1px solid var(--bgColor);
}
.about-section{
    margin: 200px 0 200px 0;
    display: flex;
    width: 100%;
    justify-content: center;
}
.about-section-content h2{
    font-size: 3rem;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
}
.about-section-content p{
    width: 90%;
    font-size: 1.5rem;
    line-height: 25px;
    text-align: justify;
    margin-top: 40px;

}
.about-section-content{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.about-section-image{
    display: flex;
    justify-content: center;
}
.about-section-image img{
    max-width: 400px;
}
.cti-section{
    padding: 50px;
    background-color: var(--bgColor);
    margin: 0px 0 200px 0;
    display: flex;
    width: 100%;
    justify-content: center;
}
.cti-section-content{
    color: var(--fontColor);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    text-align: center;
    font-size: 40px;
}
.cti-section-content p{
    font-size: 28px;
    margin-bottom: 20px;
}
.cti-section-content a{
    transition: 1s;
    background-color: var(--fontColor);
    color: var(--bgColor);
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
    margin: auto;
    font-size: 2rem;
    font-weight: bold;
}
.cti-section-content a:hover{
    background-color: var(--bgColor);
    color: var(--fontColor);
    border: 1px solid var(--fontColor);
}